@import "../../../data/styles.css";
.works{
	margin-top: 20px;
}
.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 400px;}

.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	flex-grow: 1; /* Add this property to make the title take the available space */
	font-size: 15px;
	font-weight: 700;
	margin-left: 20px; /* Replace padding-left with margin-left for better spacing */
	color: var(--secondary-color);
}
.work-subtitle {
	position: relative;
	margin-top: 0px;
	font-size: 14px;
	margin-left: 56px;
	margin-bottom: 10px;
	color: var(--secondary-color);
}

.work-duration {
	position: relative;
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 7px;
	text-align: right;
	color: var(--tertiary-color);
}
